.each_row {
  border-bottom: 1px solid #e0e0e0;
}

.each_col {
  padding-top: 2.5vh;
}

.icon_block {
  margin-right: 2vw;
}

.icon_avatar {
  margin-right: 1vw;
}

.badgeBlock {
  width: 3rem;
  float: right;
  position: relative;
  text-align: center;
}

.rank {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -2.5px;
  margin-left: -1px;
}

.badge {
  width: 100%;
  display: block;
}

.minutes {
  width: 8vw;
  float: right;
  text-align: right;
  padding-top: 2.5vh;
}
